<ion-view title="Suporte" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="suporte-form2" class="list">
      <label class="item item-select" id="suporte-select1">
        <span class="input-label">Selecione</span>
        <select>
          <option>fazer um pedido</option>
          <option>relatar problemas</option>
          <option>elogios</option>
          <option>sugestões</option>
          <option>críticas</option>
          <option></option>
        </select>
      </label>
    </form>
    <form id="suporte-form3" class="list">
      <label class="item item-input" id="suporte-textarea1">
        <span class="input-label"></span><textarea placeholder="digite sua mensagem"></textarea></label>
    </form>
    <button id="suporte-button7" class="button button-positive button-block icon-right ion-android-send">enviar</button>
  </ion-content>
</ion-view>